//reset narzuconych styli

@import url('https://fonts.googleapis.com/css2?family=Arimo:wght@400;700&display=swap');

html, body{
    background: #000;
    font-family: 'Arimo', sans-serif;
}

a{
    text-decoration: none;
}
