#home {
  overflow: hidden;
  margin-top: 0;
  #navigation {
    float: none;
    @include breakpoint(lg) {
      float: left;
      margin-top: 1em;
    }
    .text {
      margin-top: 0.3em;
      text-align: left;
      font-size: 5em;
      font-weight: 700;
      position: relative;
      color: #fff;
      transition: 0.2s;
      animation: showText 1s;
      @include breakpoint(sm) {
        margin-top: 0;
        font-size: 8em;
      }
      a {
        font-size: 0.8em;
        overflow: auto;
        color: white;
        position: absolute;
        top: 0;
        left: 0%;
        display: none;
        @include breakpoint(sm) {
          font-size: 1em;
        }
      }
    }
    .text:hover,
    .mobileText {
      color: black !important;
    }
    .text:hover a,
    .mobileLink {
      display: block !important;
    }
    .blue {
      color: $blue-jeans-dark;
      a {
        color: $blue-jeans-dark;
      }
    }
    .yellow {
      color: $sunflower-dark;
      a {
        color: $sunflower-dark;
      }
    }
  }
  #mobileBtn {
    overflow: hidden;
    position: fixed;
    outline: none;
    bottom: 5%;
    left: 38%;
    font-weight: 700;
    font-size: 2em;
    color: white;
    border: none;
    background: rgba(0, 0, 0, 0.6);
    -webkit-box-shadow: 0px 0px 42px 0px rgba(255, 255, 255, 1);
    -moz-box-shadow: 0px 0px 42px 0px rgba(255, 255, 255, 1);
    box-shadow: 0px 0px 42px 0px rgba(255, 255, 255, 1);
    animation: pulse 1.2s infinite linear alternate;
    @include breakpoint(md) {
      left: 50%;
    }
    @include breakpoint(lg) {
      display: none;
    }
  }
  img {
    position: absolute;
    top: 0%;
    right: -10%;
    display: none;
    width: 500px;
    @include breakpoint(xl) {
      right: 5%;
    }
    @include breakpoint(lg) {
      width: 600px !important;
    }
    @include breakpoint(md) {
      display: block;
    }
  }
}

@keyframes pulse {
  0% {
    bottom: 5%;
  }
  100% {
    bottom: 10%;
  }
}
