#works {
  color: #fff;
  overflow: hidden;
  .worksHead {
    font-size: 3em;
    font-weight: 700;
    margin: 2em 0;
    opacity: 0;
    animation: showText 1s forwards;
    @include breakpoint(md) {
      font-size: 4em;
    }
    @include breakpoint(xl) {
        margin: 2em 2em;
    }
    .blueCaption {
      color: $blue-jeans-dark;
    }
    .yellowCaption {
      color: $sunflower-dark;
    }
    p{
      text-align: right
    }
  }
  .worksBody {
    @include breakpoint(sm) {
      &:hover .work-item:not(:hover) {
        filter: grayscale(100%);
        &::after {
          background-color: rgba(#000, 0.5);
        }
      }
    }
  }
}
